<div id="catedral">

    <h1>Catedral</h1>
    
    <p>
        De estilo neogótico, construida íntegramente en ladrillos, La Catedral de La Plata figura inscripta desde 1996 
        en los mármoles del piso de la Basílica de San Pedro, Roma, por ser una de las más grandes del mundo. 
        Su construcción comenzó en el año 1885, el proyecto corresponde al entonces Director de Obras Públicas, 
        Ingeniero Pedro Benoit, la planta está conformada por una nave central, de mayor altura, y dos naves laterales. 
        Ocupa una superficie de siete mil metros cuadrados, tiene una capacidad para siete mil personas y 
        mide 120 metros de largo por 76 de ancho. 
        Considerado como el mayor templo Neogótico de América del Sur, la icónica catedral platense es el atractivo más elegido por quienes deciden visitar la ciudad. 
        Con sus 700 metros cuadrados de superficie y una altura de 97 metros, 
        la inconfundible tonalidad rojiza de sus ladrillos a la vista la dotan de una belleza inigualable. 
        Tiene capacidad para 14 mil personas y desde de una de sus dos torres, a la cual se accede por medio de un ascensor, 
        se puede observar con máximo detalle el trazado perfecto de la ciudad, e incluso, hasta el Río de La Plata.
        Cuenta además con un museo, con dos salas permanentes donde se puede recorrer la historia y 
        las anécdotas del templo, y dos salas temporarias, 
        donde bimestralmente se renuevan obras de diferentes artistas reconocidos. 
</p>