<div id="diagonales">

    <h1>Diagonales</h1>
    
    <p>
        Sobresalen las diagonales que lo cruzan formando pirámides y rombos dentro de su contorno,
        con bosques y plazas colocadas con exactitud cada seis cuadras.
        Responde a criterios de organización, equilibrio y orden entre
        el espacio construido y el espacio verde que funciona como articulador.
        Fundada oficialmente por el gobernador Dardo Rocha el 19 de noviembre de 1882, su construcción fue planificada y construida
        específicamente para ser destinada como capital de la provincia de Buenos Aires, después de que la ciudad de Buenos Aires
        –actual capital de la nación- fuera declarada como Distrito Federal hacia 1880.
        El entonces gobernador encargó el diseño de la nueva ciudad al ingeniero y urbanista Pedro Benoit (argentino de origen francés),
        quien trazó los planos de la futura capital de la provincia y volcó su conocimiento de las teorías urbanas más modernas,
        así como de las transformaciones de la ciudad de París a mediados del siglo XIX.
        Según relata el documento La Plata: ciudad y arquitectura, forma y simbolismo,
        la ciudad se diseñó siguiendo la tradición grecolatina de ciudad amanzanada, que llega a toda América Latina por las llamadas “Leyes de Indias”
        (legislación promulgada por los monarcas españoles para organizar las nuevas tierras conquistadas, basada en patrones urbanísticos ligados fuertemente a la religión)
        directrices que fueron enriquecidas con el aporte afrancesado del urbanismo de mitad del siglo XIX, por los bulevares y diagonales. 
        De esta manera, el trazado propuesto consistió “en un cuadrado básico, con dos diagonales mayores (uniendo los vértices del cuadrado)
        y cuatro diagonales menores que vinculan entre sí al bosque de La Plata -asiento de edificios universitarios y recreativos- y los tres parques proyectados” 
        así como la determinación para construir una plaza en todos los cruces de avenidas con el fin de promover la multiplicación de 
        espacios recreativos barriales destinados al uso de la familias.
    </p>
</div>
