<div id="universidad">

    <h1>Universidad</h1>
    
    <p>
        La Universidad Nacional de La Plata, fundada en 1905 por el doctor Joaquín Víctor González, surge de la confluencia de dos conceptos fundamentales. 
        Por una parte, la interpretación tradicional del término "Universidad", como ámbito natural del saber. 
        Por otra, la idea actualizada del conocimiento científico de base experimental, social y artístico en sus distintas expresiones.         
        Con más de un siglo de trayectoria, sigue siendo pionera en estudios y desarrollos culturales, artísticos y científicos de avanzada. 
        Esto le ha proporcionado el prestigio que la sitúa entre las principales del país, del continente americano y del mundo. 
        La docencia, la investigación y la extensión configuran los pilares básicos de esta Universidad. 
        Actualmente cuenta con 17 Facultades, donde estudian 110 mil alumnos de grado. 
        En los últimos años se registra un promedio de inscripciones cercano a los 23.000 aspirantes, de los cuales ingresan efectivamente 18.500. 
        De sus aulas egresan anualmente alrededor de 6.000 estudiantes. 
        La oferta académica de la UNLP incluye 111 carreras de grado -157 títulos- y 170 de posgrado 
        (el 85% están acreditadas o en trámite, por la Comisión Nacional de Evaluación y Acreditación Universitaria –CONEAU-), además de unos 500 cursos de posgrado. 
        Entre carreras y cursos recibe unos 22.000 alumnos de posgrado. 
        Además cuenta con 100 cátedras libres dependientes de la Presidencia, que se suman a las muchas que funcionan en las Facultades. 

    </p>
